{% extends 'base.html' %}

{% block content %}

    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{ panel_title }}</div>
            </div>
            <div class="panel-body" >
                <form action="{% url 'create_student' %}" method="post">
                    {% csrf_token %}
                    {{ form }}
                        <div class="form-group">
                            <div class="controls col-md-4"></div>
                            <div class="controls col-md-8">
                                <input type="submit" name="Signup" value="Сохранить" class="btn btn-primary btn btn-info" id="submit-id-signup" />
                                <a href="{% url 'groups' %}" class="btn btn-primary" role="button">Назад</a>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}