{% extends 'base.html' %}

{% block title %}
{{ group_name }}
{% endblock %}

{% block content %}
    <div class="container">
    <h2>Группа {{ group_name }}</h2>
    <table class="table table-hover">
     <thead>
      <tr>
        <th>Студент</th>
      </tr>
    </thead>
    <tbody>
    {% for student in group %}
    <tr>
        <td><a href="#">{{ student }}</a></td>
        <td><a class='btn btn-danger' href="{% url 'student_delete' student.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
        <td><a class='btn btn-success' href="{% url 'edit_student' student.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
{% endblock %}