{% extends 'base.html' %}
{% load custom_tags %}
{% block  content %}
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}
  <div class="row">
      <div class="col-md-6">
          <h2>Список групп</h2>
      </div>
  </div>
  <div class="row">
  <div class="col-md-4 pull-right">
          <a href="{% url 'create_group' %}" class="btn btn-primary add_group"> <span class="glyphicon glyphicon-plus"></span> Добавить группу</a>
          <a href="{% url 'create_student' %}" class="btn btn-primary add_student"><span class="glyphicon glyphicon-plus"></span> Добавить студента</a>
  </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Название</th>
        <th>Колчисетво человек в группе</th>
        <th>Староста</th>
      </tr>
    </thead>
    <tbody>
    {% for group in groups %}
      <tr>
        <td><a href="{% url 'group_info' group.id %}">{{ group.name }}</a></td>
        <td>{{ group.students.count }}</td>
        <td>{% if group.head_of_group %}{{ group.head_of_group }}{% else %}Не назначен{% endif %}</td>
        <td><a href="{% url 'edit_group' group.id %}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="{% url 'delete_group' group.id %}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Новая группа</h4>
        </div>
         <div class="modal-body">
        </div>
      </div>
    </div>
</div>

{% endblock %}