{% extends 'base.html' %}
{% load staticfiles %}
{% load custom_tags %}

{% block  content %}
<h2>Общая инфа о студентах!</h2>
    {% if user.is_authenticated %}
    <h3>Приветствую тебя, {{ user }}</h3>
    {% endif %}
    {{ next }}
    Всего учится студентов: <strong>{{ students_count }}</strong><br>
    Всего групп: <strong>{{ groups_count }}</strong>
{% endblock %}