{% extends 'base.html' %}

{% block content %}
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
		<form action="{% url 'login' %}" method="post" name="Login_Form" class="form-signin">
            {% csrf_token %}
		    <h3 class="form-signin-heading">Авторизация</h3>
            <hr class="colorgraph">
            {{ form.non_field_errors }}
            <div class="form-group">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">Имя пользователя</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Пароль</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Войти</button>
            </div>
		</form>
        </div>
    </div>
{% endblock %}