{% extends 'base.html' %}

{% block content %}
<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">{{ panel_title }}</div>
            </div>
            <div class="panel-body" >
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_div }}
                        <div class="form-group">
                            <div class="controls col-md-8">
                                <input type="submit" name="Signup" value="Сохранить" class="btn btn-primary btn btn-info" id="submit-id-signup" />
                                <input type="button" name="Signup" value="Отмена" class="btn btn btn-primary" id="button-id-signup" />
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}