<div class="container-fluid">
        <!-- Second navbar for sign in -->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Студенты CRM</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li {% if request.path_info == '/' %} class="active" {% endif %}><a href="{% url 'home' %}">Главная</a></li>
            <li {% if request.path_info == '/groups/' %} class="active" {% endif %}><a href="{% url 'groups' %}">Список групп</a></li>
          </ul>
            {% if user.is_authenticated %}
            <strong>Приветствую тебя, {{ user }}</strong>
            <a href="{% url 'logout' %}" class="btn navbar-btn btn-default btn-sm">Выход</a>
            {% else %}
            <a  href="{% url 'login' %}" class="btn btn-primary navbar-btn navbar-right">Войти</a>
            {% endif %}
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
</div><!-- /.container-fluid -->